---
import "../styles/global.css";

const { title } = Astro.props;

const meta = {
  title: "Tej Patel - Software Engineer from Mumbai",
  description:
    "Tej Patel is a skilled Software Engineer from Mumbai, focused on building high-performance user interfaces using React and modern frontend stacks",
  author: "Tej Patel",
};

// Change this if changing the bg color
const bgColor = "oklch(20.8% 0.042 265.755)";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      media="print"
      onload="this.media='all'"
    />
    <!-- HTML Meta Tags -->
    <title>Tej Patel - Software Engineer from Mumbai | {title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta.description} />
    <meta name="author" content={meta.author} />
    <!-- Notification/Status Bar color for dark theme -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content={bgColor} />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content={bgColor} />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    
    <!-- Canonical URL -->
    <link rel="canonical" href={"https://tejpatel.in"} />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:url" content={"https://tejpatel.in"} />
    <meta property="og:image" content={"/og-image.png"} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="tejpatel.in" />
    <meta property="twitter:url" content="https://tejpatel.in" />
    <meta
      name="twitter:title"
      content="Tej Patel - Software Engineer from Mumbai | Home"
    />
    <meta
      name="twitter:description"
      content="Tej Patel is a skilled Software Engineer from Mumbai, focused on building high-performance user interfaces using React and modern frontend stacks"
    />
    <meta name="twitter:image" content="/og-image.png" />

    <!-- Structured Data -->
    <script
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "Person",
            "@id": `${import.meta.env.SITE}#person`,
            name: "Tej Patel",
            jobTitle: "Senior Frontend Engineer",
            url: import.meta.env.SITE,
            sameAs: [
              "https://github.com/tejpatelme",
              "http://linkedin.com/in/tejpatelme",
              "http://x.com/tejpatel_me",
              "https://tejpatel.hashnode.dev",
            ],
            address: {
              "@type": "PostalAddress",
              addressLocality: "Mumbai",
              addressCountry: "IN",
            },
          },
          {
            "@type": "WebSite",
            "@id": `${import.meta.env.SITE}#website`,
            url: import.meta.env.SITE,
            name: meta.title,
            creator: { "@id": `${import.meta.env.SITE}#person` },
            potentialAction: {
              "@type": "SearchAction",
              target: {
                "@type": "EntryPoint",
                urlTemplate: `${import.meta.env.SITE}/?s={search_term_string}`,
              },
              "query-input": "required name=search_term_string",
            },
          },
        ],
      })}
    />
  </head>
  );
  
  <body class="bg-slate-900">
    <slot />
  </body>
</html>
